.slick-track {
  display: flex;
  align-items: center; /* Pastikan elemen slider rata tengah */
  height: 20rem; /* Atur tinggi otomatis */
}
.slick-slide {
  height: 20rem; /* Pastikan slide tidak memaksa ukuran tinggi */
}
